body {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

.row {
    display: flex;
    justify-content: space-around;
}

li {
    padding: 5px;
    margin: 10px;
    background: #eceff1;
    list-style: none;
    border-radius: 5px;
}

ul {
    list-style: none;
}

.label {
    font-weight: bold;
}

.center {
    text-align: center;
}

.right {
    align-content: right;
}

img {
    align-content: center;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px #ffffff;
    margin-bottom: 2px;
}

h2 {
    text-align: center;
    text-shadow: 2px 2px #ffffff;
    border-radius: 5px;
}

h3 {
    text-align: center;
    text-shadow: 1px 1px #ffffff;
}

.create-update-form {
    padding: 5px;
    margin: 1px 15px;
    width: 100%;
    background: #d9e9fc;
    border: 1px black solid;
    border-radius: 5px;
    text-align: center;
}

.form-group {
    margin-bottom: 25px;
}

.btn-primary {
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: rgb(58, 56, 56);
    color: white;
}

html,
body {
    height: 100%;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTgwmK59JytsOCw8VgarrHBnqLX6Sn8XuLZ0-OWnfl_4vZxmfFP);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}

div,
body {
    margin: 0;
    padding: 0;
    font-family: exo, sans-serif;
    color: black;
}

.footer {
    text-align: center;
    text-shadow: 1px 1px #ffffff;
    margin-bottom: 0;
    font-size: xx-small;
}

.wrapper {
    height: 100%;
    width: 100%;
}